/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: url("https://bit.ly/2P6v9S7");
    background-size: cover;
    background-repeat: no-repeat;
    color: antiquewhite;
}